---
import Section from "../Section.astro";

import News2 from "@/icons/News2.astro";
import News from "@/icons/News.astro";
import RightArrow from "@/icons/RightArrow.astro";
import Filetextfill from "@/icons/Filetextfill.astro";

import {
  Rss,
  X,
  Linkedin,
  Threads,
  Facebook,
  Instagram,
} from "simple-icons-astro";

const SOCIAL_ICONS: Record<string, any> = {
  Facebook,
  Instagram,
  Linkedin,
  Threads,
  X,
  News,
};

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Section>
  <h2 class="section-title flex items-center gap-1">
    <News2 />Posts recientes
  </h2>

  <article class="suscribe-container">
    <p>
      Escribo sobre cualquier cosa relacionada con la tecnología, el marketing y
      de vez en cuando sobre cosas interesantes que se cruzan en mí camino.
    </p>

    <!-- <div class="box-left">
      <a href="#" class="rss-btn">
        <Rss class="h-3 w-3" />
        <span>Suscríbete</span>
      </a>
    </div> -->
  </article>

  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>
            <img width={720} height={360} src={post.data.heroImage} alt="" />
            <h4 class="title">{post.data.title}</h4>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        </li>
      ))
    }

    
  </ul>
</Section>

<style>
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 0.5rem;
      }

      li a img {
        margin-bottom: 0.5rem;
        border-radius: 8px;
        transition: all 0.2s ease-in-out;
      }

      li a img:hover {
        box-shadow:
          4px 4px 16px rgb(var(--light), 0.15),
          -4px -4px 16px rgb(var(--light), 0.15);
      }

      li h4 {
        font-size: .875rem;
        font-weight: 600;
        color: rgb(var(--light), 0.9);
      }
      li p {
        font-size: .75rem;
        color: rgb(var(--light), 0.55);
      }

      

      @media (width <= 700px) {
      
      }
    </style>
