---
import Section from "../Section.astro";
import News2 from "@/icons/News2.astro";
import News from "@/icons/News.astro";
import RightArrow from "@/icons/RightArrow.astro";
import Filetextfill from "@/icons/Filetextfill.astro";
import {
  Rss,
  X,
  Linkedin,
  Threads,
  Facebook,
  Instagram,
} from "simple-icons-astro";

import { posteos } from "@social";

const SOCIAL_ICONS: Record<string, any> = {
  Facebook,
  Instagram,
  Linkedin,
  Threads,
  X,
  News,
  Rss,
};

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Section>
  <h2 class="section-title flex items-center gap-1">
    <Rss class="w-4 h-4" />Social Media Posts
  </h2>

  <ul>
    {
      posteos.map(({ network, title, description, url, date }) => {
        const Icon = SOCIAL_ICONS[network];

        return (
          <li class="py-2 px-4 rounded-md">
            <a href={url} class="flex flex-col gap-2">
              <p class="date flex items-center gap-1 text-xs text-[#1e252c60] text-pretty border-l-2 border-[#004E9290] pl-2">
                <Icon class="w-[14px] h-[14px]" />
                {date}
              </p>
              <h3 class="title text-base font-semibold text-[#1e252c]">
                {title}
              </h3>
              <p class="description text-sm text-pretty text-[#1e252c60]">
                {description}
              </p>
              <p class="more text-sm tracking-wide text-[#EC4568] hover:font-bold">
                Ir a post →
              </p>
            </a>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  li {
    transition: all 0.3s ease-in-out;
  }
  li:hover {
    background-color: rgb(var(--dark), 0.05);    
  }
  
  @media (width <= 700px) {
    
  }
</style>
