---
import Section from "../Section.astro";
import News2 from "@/icons/News2.astro";
import News from "@/icons/News.astro";
import RightArrow from "@/icons/RightArrow.astro";
import Filetextfill from "@/icons/Filetextfill.astro";
import {
  Rss,
  X,
  Linkedin,
  Threads,
  Facebook,
  Instagram,
} from "simple-icons-astro";

import { posteos } from "@social";

const SOCIAL_ICONS: Record<string, any> = {
  Facebook,
  Instagram,
  Linkedin,
  Threads,
  X,
  News,
  Rss,
};

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Section>
  <div class="area_section flex flex-col gap-2">
    <h2 class="section-title">
      <News2 />Blog | Social Media posts
    </h2>
    <p class="parrafo">
      Escribo sobre cualquier cosa relacionada con la tecnología, el marketing y
      de vez en cuando sobre cosas interesantes que se cruzan en mí camino.
    </p>
    <ul class="social_post">
      {
        posteos.map(({ network, title, description, url, date }) => {
          return (
            <li>
              <a href={url} class="posts flex items-center" target="_blank">
                <Rss class="w-4 h-4" />
                <div class="noticias">
                  <h3 class="title">{title}</h3>
                  <p class="date">{network}</p>
                </div>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>

<style>
  .area_section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 1rem;
    color: rgb(var(--dark), 0.9);
    border-radius: 0.5rem;
  }
  .section-title {
    font-size: clamp(18px, 1.5vw, 20px);
    font-weight: 700;
    text-wrap: pretty;
    letter-spacing: -0.025rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .parrafo {
    font-family: var(--font-body);
    font-size: 12px;
    color: rgb(var(--dark), 0.65);
    font-weight: 300;
  }
  .social_post {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .posts {
    display: flex;
    align-content: center;
    gap: 0.5rem;
    border-radius: 8px;
    padding: 4px 8px;
    width: 100%;
  }
  .posts:hover {
    background-color: rgb(var(--accent-50), 0.8);
    color: rgb(var(--dark), 0.9);
  }
  .noticias {
    border-left: 1px solid rgb(var(--dark), 0.15);
    padding-left: 8px;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
  }
  .date {
    font-size: 12px;
    font-weight: 300;
    font-family: var(--font-body);
  }  
</style>
