---
import Section from "../Section.astro";
import News2 from "@/icons/News2.astro";
import News from "@/icons/News.astro";
import RightArrow from "@/icons/RightArrow.astro";
import Filetextfill from "@/icons/Filetextfill.astro";
import {
  Rss,
  X,
  Linkedin,
  Threads,
  Facebook,
  Instagram,
} from "simple-icons-astro";

import { posteos } from "@social";

const SOCIAL_ICONS: Record<string, any> = {
  Facebook,
  Instagram,
  Linkedin,
  Threads,
  X,
  News,
  Rss,
};

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Section>
  <div class="area_section flex flex-col gap-2">
    <h2
      class="section-title flex items-center gap-1 text-pretty mb-4 font-medium text-xl underline underline-offset-4"
    >
      <Rss class="w-4 h-4" />Social Media Posts
    </h2>
    <ul>
      {
        posteos.map(({ network, title, description, url, date }) => {
          const Icon = SOCIAL_ICONS[network];
          return (
            <li class="p-4 rounded-md">
              <a href={url} class="flex flex-col gap-1">
                <p class="date flex items-center gap-2 text-pretty">
                  <Icon class="w-4 h-4" />
                  {date}
                </p>
                <h3 class="title text-pretty">
                  {title}
                </h3>
                <p class="description text-pretty">
                  {description}
                </p>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>

<style>
  .area_section {
    background: rgb(var(--light), 0.85);
    color: rgb(var(--dark), 0.85);
    border-radius: 10px;
    padding: 1rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: .5rem;
  }
  li {
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(var(--accent-50), 0.25);
  }
  li:hover {
    background-color: rgb(var(--accent-50), 0.05);
  }
  .date {
    font-size: 10px;
    color: rgb(var(--accent-60), 0.45);
    font-family: var(--font-body);
  }
  .title {
    font-size: clamp(13px, 1.5vw, 14px);
    font-weight: 500;
    color: rgb(var(--dark), 0.8);
  }
  .description {
    font-size: 12px;
    font-family: var(--font-body);
    color: rgb(var(--dark), 0.5);
  }

  @media (width <= 700px) {
  }
</style>
