---
import Section from "../Section.astro";
import { skills } from "@landing";
import {
  Bootstrap,
  Css3,
  Figma,
  Git,
  Github,
  Googleads,
  Googleanalytics,
  Googlegemini,
  Gumroad,
  Html5,
  Hubspot,
  Javascript,
  Meta,
  Mysql,
  Notion,
  Openai,
  Python,
  React,
  Slack,
  Tailwindcss,
  Typescript,
  Vite,
  Rss,
  Blogger,
} from "simple-icons-astro";
import Astrojs from "@/icons/AstroIcon.astro";
import Next from "@/icons/Next.astro";
import Node from "@/icons/Node.astro";
import Briefcase from "@/icons/BriefCaseAlt.astro";
import Coding from "@/icons/Coding.astro";
import Gestor from "@/icons/Gestor.astro";

const SKILLS_ICONS: Record<string, any> = {
  Astrojs,
  Bootstrap,
  Css3,
  Figma,
  Git,
  Github,
  Googleads,
  Googleanalytics,
  Googlegemini,
  Gumroad,
  Html5,
  Hubspot,
  Javascript,
  Meta,
  Mysql,
  Next,
  Node,
  Notion,
  Openai,
  Python,
  React,
  Slack,
  Tailwindcss,
  Typescript,
  Vite,
  Rss,
  Blogger,
};
---

<Section>
  <div class="area_section flex flex-col gap-2">
    <h2
      class="section-title flex items-center gap-2 font-bold tracking-wide text-pretty"
    >
      <Briefcase /> Servicios
    </h2>
    <p class="parrafo leading-5 font-extralight text-pretty tracking-wide">
      Tengo la inquietante necesidad de construir cosas. A veces el trabajo
      fluye con facilidad, otras veces me cuestiono mis decisiones. E pluribus
      unum.
    </p>

    <ul class="mt-4">
      <li>
        <article>
          <header>
            <h3 class="title">
              <Coding class="w-4 h-4" />
              <span>Desarrollo Web</span>
            </h3>
            <p class="description">
              My personal website and blog. Built with Next.js and Notion API.
            </p>
          </header>

          <footer>
            <ul class="skills">
              <li>Blogs</li>
              <li>Portafolios</li>
              <li>Landing pages</li>
              <li>E-commerce</li>
              <li>Web applications</li>
              <li>UI/UX Design</li>
            </ul>
          </footer>
        </article>
      </li>

      <li>
        <article>
          <header>
            <h3 class="title">
              <Gestor class="w-4 h-4" />
              <span>Gestion de redes sociales</span>
            </h3>
            <p class="description">
              My personal website and blog. Built with Next.js and Notion API.
            </p>
          </header>

          <footer>
            <ul class="skills">
              <li>Manejo de crisis</li>
              <li>Campañas</li>
              <li>Marca Personal</li>
              <li>Marketing digital</li>
              <li>Contenido</li>
              <li>Community management</li>
            </ul>
          </footer>
        </article>
      </li>
      <!-- {
        skills.map(({ name }) => {
          const iconName = name === "HTML" ? "Html5" : name;
          const Icon = SKILLS_ICONS[iconName];
          if (!Icon) {
            console.error(`Icono no encontrado para la red: ${name}`);
            return null;
          }
          return (
            <li>
              <Icon class="w-4 h-4" />
              <span>{name}</span>
            </li>
          );
        })
      } -->
    </ul>
  </div>
</Section>

<style>
  .area_section {
    color: rgb(var(--dark), 0.9);
    border-radius: 10px;
    padding: 1rem;
  }
  .section-title {
    font-size: clamp(18px, 1.5vw, 20px);
  }
  .parrafo {
    font-family: var(--font-body);
    font-size: 12px;
    color: rgb(var(--dark), 0.55);
    font-weight: 100;
    border: 1px solid rgb(var(--dark), 0.05);
    padding: 4px;
    border-radius: 6px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  article {
    background: rgb(var(--light), 0.25);
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;

    border: 1px solid rgb(var(--dark), 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all 0.2s ease-in-out;
  }
  article:hover {
    background-color: rgb(var(--accent-50), 0.03);
    box-shadow: var(--box-shadow);
    border: 1px solid rgb(var(--accent-50), 0.2);
  }
  .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    text-wrap: pretty;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
  }
  .description {
    font-family: var(--font-body);
    font-size: 12px;
    color: rgb(var(--dark), 0.5);
  }
  footer ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
  footer ul li {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-family: var(--font-body);
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(var(--dark), 0.85);
    background-color: rgb(var(--dark), 0.05);
    padding: 4px;
    border-radius: 2px;
  }
</style>
