---
// Supports weights 200-900
import '@fontsource-variable/source-code-pro';
import "@fontsource-variable/montserrat";
import "@fontsource/lato";
import BaseHead from "../components/BaseHead.astro";
import NoiseBackground from "@/components/NoiseBackground.astro";
import Header from "../components/Header.astro";
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Skills from "@/components/sections/Skills.astro";
import SkillSlider from "@/components/sections/SkillSlider.astro";
import Projects from "@/components/sections/Projects.astro";
import BlogPosts from "@/components/sections/BlogPosts.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { basics } from "@landing";
const { name, label } = basics;
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <NoiseBackground />
    <Header />
    <Hero />
    <About />
    <Skills />
    <SkillSlider />
    <Projects />    
    <BlogPosts />
    <Footer />
  </body>
</html>
