---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;
const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: rgb(var(--dark), 1);
    letter-spacing: 0.05em;
    transition: color 0.3s ease-in-out;
  }
  a:hover {
    color: rgb(var(--accent-50), 0.95);
    text-shadow: 0 0 0.5rem rgb(var(--accent-50), 0.25);
  }
  a.active {
    /* font-weight: 300; */
    text-decoration: underline;
    text-underline-offset: 4px;
  }
</style>
