---
import Section from "./Section.astro";
import HeaderLink from "./HeaderLink.astro";
import { Github, X, Instagram, Threads, Linkedin } from "simple-icons-astro";
import Logo from "../icons/Logo.astro";
import Home from "@/icons/Home.astro";
import News from "@/icons/News.astro";
import Briefcase from "@/icons/BriefCaseAlt.astro";
import Download from "@/icons/DownLoad2.astro";

import { SITE_TITLE } from "../consts";
---

<header class="mb-[72px]" transition:animate="slide">
  <div
    class="container mx-auto flex flex-wrap py-4 flex-col items-center md:flex-row"
  >
    <h2
      class="flex title-font font-medium items-center mb-4 text-[rgba(var(--text-100),.75)] hover:text-[rgba(var(--text-100),.9)] md:mb-0"
    >
      <Logo />
      <span class="text-2xl font-bold ml-2 tracking-tighter">Edinson.</span>
    </h2>

    <nav
      class="md:ml-auto md:mr-auto flex flex-wrap gap-6 items-center text-base justify-center"
    >
      <HeaderLink href="/"><Home />Inicio</HeaderLink>
      <HeaderLink href="/blog"><News />BlogPosts</HeaderLink>
      <HeaderLink href="/projects"><Briefcase />Proyectos</HeaderLink>
    </nav>

    <div
      class="social-links inline-flex items-center gap-4 border-0 py-1 px-3 focus:outline-none rounded mt-4 md:mt-0"
    >
      <a
        href="https://www.linkedin.com/in/edinson-rivera-jurado/"
        target="_blank"
        class="text-[rgba(var(--text-100),.8)] hover:text-[rgba(var(--text-200),.8)]"
        title="Visitar perfil en Linkedin"
      >
        <span class="sr-only">Follow Edinson on Linkedin</span>
        <Linkedin />
      </a>
      <a
        href="https://github.com/Edirju"
        target="_blank"
        class="text-[rgba(var(--text-100),.8)] hover:text-[rgba(var(--text-200),.8)]"
        title="Visitar perfil de GitHub"
      >
        <span class="sr-only">Go to Edinson's GitHub repo</span>
        <Github />
      </a>
      <a
        href="/resume"
        target="_blank"
        class="text-[rgba(var(--text-100),.8)] hover:text-[rgba(var(--tertiary-100),.8)]"
        title="Ver Curriculum Vitae"
      >
        <span class="sr-only">Download Edinson's Resume</span>
        <Download />
      </a>
    </div>
  </div>
</header>

<style>
  header {
    background-image: linear-gradient(
      to top right in oklab,
      oklch(99.78% 0.001 17.18) 0%,
      oklch(99.42% 0.006926120788662864 88.6411446312505) 100%
    );
    box-shadow: var(--box-shadow);
  }

  @media (width <= 700px) {
    header {
      margin-bottom: 38px;
    }
  }
  /* header {
    background: rgb(var(--light));
    color: rgba(var(--dark));
    box-shadow: 0 0.125rem 0.5rem rgba(var(--dark), 5%);
  }

  nav a {
    padding: 1rem 8px;
    color: var(--dark);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a:hover {
    color: rgb(var(--dark), 0.65);
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--dark);
  }
  .social-links a {
    color: rgb(var(--dark), 0.85);
  }

  @media (width <= 700px) {
    nav {
      flex-direction: column;
    }
    nav h2 a {
      padding: 0.5rem auto 2px;
    }
    nav a {
      padding: 8px 8px;
    }

    .social-links {
      display: none;
    }
  } */
</style>
