---
import HeaderLink from "./HeaderLink.astro";
import { Github, X, Instagram, Threads, Linkedin } from "simple-icons-astro";
import Logo from "../icons/Logo.astro";

import { SITE_TITLE } from "../consts";
---

<header class="mb-[72px] py-0 px-4">
  <nav class="flex items-center justify-between">
    <h2 class="font-black text-2xl text-[rgba(30,37,44,0.85)]">
      <a href="/" class="flex items-center gap-2">
        <Logo />
        <span>Ediriv.</span>
      </a>
    </h2>

    <div class="internal-links text-sm font-light uppercase">
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/projects">Proyectos</HeaderLink>
      <HeaderLink href="/resume" target="_blank">Resume</HeaderLink>
    </div>

    <div class="social-links flex items-center">
      <a href="https://m.webtoo.ls/@astro" target="_blank">
        <span class="sr-only">Follow Edinson on Linkedin</span>
        <Linkedin />        
      </a>
      <a href="https://github.com/withastro/astro" target="_blank">
        <span class="sr-only">Go to Edinson's GitHub repo</span>
        <Github />        
      </a>
      <a href="https://m.webtoo.ls/@astro" target="_blank">
        <span class="sr-only">Follow Edinson on Instagram</span>
        <Instagram />        
      </a>

      <a href="https://m.webtoo.ls/@astro" target="_blank">
        <span class="sr-only">Follow Edinson on Threads</span>
        <Threads />        
      </a>

      <a href="https://twitter.com/astrodotbuild" target="_blank">
        <span class="sr-only">Follow Astro on Twitter</span>
        <X />        
      </a>
    </div>
  </nav>  
</header>

<style>
  header {
    background: rgb(var(--clr-light));
    color: rgba(var(--clr-dark));
    box-shadow: 0 0.125rem 0.5rem rgba(var(--black), 5%);
  }

  nav a {
    padding: 1rem 8px;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a:hover {
    color: rgb(var(--clr-dark), 0.65);
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
    
  }  
  .social-links a {
    color: rgb(var(--clr-dark), 0.85)
  }

  @media (width <= 700px) {
    nav {
      flex-direction: column;
    }
    nav h2 a {
      padding: .5rem auto 2px;
    }
    nav a {
      padding: 8px 8px;
    }

    .social-links {
      display: none;
    }
  }
</style>
